/* ------------------ FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* ------------------ VARIABLES ------------------ */
:root{
    --dark-color: #1F1F21;
    --darkest-color: #18181b;
    --light-color: #FFFFFF;
    --primary-color: #2AE98C;
    --gray-color: #575658;
}

/* ------------------ GLOBAL ------------------ */
*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    background-color: var(--dark-color);
}

.layout .main-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    padding: 40px;
    margin: auto;
}

section{
    scroll-margin-top: 40px;
}

.left-card{
    width: 25%;
}

.main-content{
    width: 65%;
    padding: 0 30px;
}

.section-title{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    font-weight: 100;
    color: var(--light-color);
    padding: 7px 15px;
    border: 1px solid var(--gray-color);
    border-radius: 50px;
}

.section-title svg{
    margin-right: 10px;
    margin-bottom: 2px;
}

.wrapper{
    margin-top: 40px;
    margin-bottom: 200px;
}

h5{
    font-size: 45px;
    font-weight: 300;
    color: var(--light-color);
    margin-bottom: 40px;
}

h5 span{
    color: var(--primary-color);
}

.gray-text{
    width: 70%;
    font-size: 17px;
    color: var(--gray-color);
}

.gray-text span{
    color: var(--primary-color);
    opacity: .5;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--gray-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

/* LEFT CARD */
.left-card{
    text-align: center;
}

.left-card .card{
    position: sticky;
    top: 120px;
    padding: 30px;
    border: 1px solid var(--gray-color);
    border-radius: 30px 10px 30px 10px;
    margin-bottom: 20px;
}

.left-card .card img{
    width: 45%;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin-bottom: 30px;
}

.left-card .card .my-name{
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
    margin-bottom: 4px;
}

.left-card .card .my-skills{
    font-size: 15px;
    color: var(--gray-color);
    margin-bottom: 25px;
}

.left-card .card .social-icons{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: auto;
}

.left-card .card .social-icons .social-circle{
    font-size: 16px;
    line-height: 0;
    padding: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 50%;
    transition: all .5s ease;
}

.left-card .card .social-icons .social-circle:hover{
    transform: scale(1.1);
    border: 1px solid var(--primary-color);
}

.left-card .card .social-icons .social-circle svg{
    color: var(--gray-color);
    transition: all .5s ease;
}

.left-card .card .social-icons .social-circle:hover svg{
    color: var(--primary-color);
}

.left-card .card .email-link{
    margin: 30px 0;
}

.left-card .card .email-link a{
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
}

.left-card .card .email-link a:hover{
    opacity: .7;
}

.left-card .card .email-link a svg{
    color: var(--primary-color);
    margin-left: 0;
    transition: all .5s ease;
}

.left-card .card .email-link a:hover svg{
    transform: scale(1.2);
    margin-left: 5px;
}

.left-card .card .cv-download{
    width: 100%;
    padding: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
    background-color: var(--dark-color);
    cursor: pointer;
    opacity: .5;
    transition: all .5s ease;
}

.left-card .card .cv-download:hover{
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 var(--primary-color);
    opacity: 1;
}

.left-card .card-copyright{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    font-size: 16px;
    color: var(--gray-color);
}

.left-card .card-copyright span{
    color: var(--primary-color);
    opacity: .5;
}

.left-card .card-copyright span:hover{
    opacity: 1;
}

/* RIGHT NAVIGATION */
.right-nav{
    position: relative;
    margin-right: 40px;
    z-index: 2;
}

.right-nav .wrapper-menu .menu-circle{
    position: fixed;
    width: fit-content;
    font-size: 16px;
    line-height: 0;
    padding: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 50%;
    background-color: var(--dark-color);
    cursor: pointer;
    transition: all .3s linear;
}

.right-nav .wrapper-menu .menu-circle:hover{
    border: 1px solid var(--primary-color);
}

.right-nav .wrapper-menu .menu-circle svg{
    color: var(--light-color);
    transition: all .3s linear;
}

.right-nav .wrapper-menu .menu-circle:hover svg{
    color: var(--gray-color);
}

.right-nav .float-nav{
    position: fixed;
    top: 50%;
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    font-size: 16px;
    line-height: 0;
    border: 1px solid var(--gray-color);
    border-radius: 50px;
    background-color: var(--dark-color);
    transform: translateY(-50%);
}

.right-nav .float-nav a.active{
    color: var(--primary-color);
}

.right-nav .float-nav a{
    color: var(--gray-color);
    transition: all .5s ease;
}

.right-nav .float-nav a:hover{
    color: var(--primary-color);
}

/* MENU */
.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 2;
}

.menu .columns{
    position: absolute;
    width: 25%;
    height: 100vh;
    border-left: 2px solid var(--primary-color);
    background-color: var(--darkest-color);
}

.menu .column-1{
    left: 0;
}

.menu .column-2{
    left: 25%;
}

.menu .column-3{
    left: 50%;
}

.menu .column-4{
    left: 75%;
}

.menu .column-2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu .column-2 .links{
    display: grid;
    grid-gap: 20px;
}

.menu .column-2 .links a{
    font-size: 35px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--gray-color);
}

.menu .column-2 .links a.active{
    color: var(--primary-color);
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
    border: none;
}

.menu .column-2 .links a:hover{
    color: var(--primary-color);
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}

.menu .column-3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu .column-4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu .column-4 .my-infos .info-container{
    margin-bottom: 20px;
}

.menu .column-4 .my-infos h3{
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.menu .column-4 .my-infos p{
    font-size: 16px;
    font-weight: 300;
    color: var(--gray-color);
}

.menu .column-4 .my-infos .info-container:nth-last-child(1){
    margin-bottom: 0;
}

.menu .column-4 .my-infos .info-container:nth-last-child(1) h5{
    font-size: 13px;
    font-weight: 300;
}

.menu .column-4 .my-infos .info-container:nth-last-child(1) p{
    font-size: 11px;
    font-weight: 300;
    color: var(--gray-color);
}

/* HERO */
.hero-wrapper .big-text{
    margin-bottom: 60px;
}

.hero-wrapper .big-text p{
    font-size: 90px;
    font-weight: 500;
    color: var(--light-color);
}

.hero-wrapper .big-text p span{
    color: var(--primary-color);
}

.hero-wrapper .small-text{
    margin-bottom: 60px;
}

.hero-wrapper .number-counter{
    display: flex;
    align-items: center;
    grid-gap: 100px;
}

.hero-wrapper .number-counter .number-container .num{
    font-size: 60px;
    color: var(--primary-color);
}

.hero-wrapper .number-counter .number-container p{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--gray-color);
}

/* SERVICES */
.services-wrapper .services-cards{
    display: grid;
    grid-gap: 30px;
}

.services-wrapper .services-cards .card{
    padding: 40px;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
    cursor: default;
    transition: all .3s ease;
}

.services-wrapper .services-cards .card:hover{
    border: 1px solid var(--primary-color);
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 var(--primary-color);
}

.services-wrapper .services-cards .card .service-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.services-wrapper .services-cards .card .service-header .service-name{
    font-size: 35px;
    font-weight: 500;
    color: var(--light-color);
    transition: all .3s ease;
}

.services-wrapper .services-cards .card:hover .service-header .service-name{
    color: var(--primary-color);
}

.services-wrapper .services-cards .card .service-header .service-icon{
    font-size: 35px;
    color: var(--primary-color);
}

.services-wrapper .services-cards .card .service-desc{
    font-size: 18px;
    color: var(--gray-color);
    margin-bottom: 50px;
}

.services-wrapper .services-cards .card .service-qty{
    font-size: 16px;
    font-weight: 300;
    color: var(--light-color);
}

.services-wrapper .services-cards .card:hover .service-qty{
    text-decoration: underline;
}

/* SKILLS */
.skills-wrapper .skills-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
}

.skills-wrapper .skills-cards .skills-card{
    text-align: center;
    color: var(--light-color);
    cursor: default;
}

.skills-wrapper .skills-cards .skills-card .circle{
    opacity: .5;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
    transition: all .3s ease;
}

.skills-wrapper .skills-cards .skills-card:hover .circle{
    border: 1px solid var(--primary-color);
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 var(--primary-color);
    opacity: 1;
}

.skills-wrapper .skills-cards .skills-card .circle .icon{
    font-size: 100px;
    line-height: 0;
    color: var(--gray-color);
    transition: all .3s ease;
}

.skills-wrapper .skills-cards .skills-card:hover .circle .icon{
    color: var(--light-color);
}

.skills-wrapper .skills-cards .skills-card .circle .icon svg{
    padding: 10px;
}

.skills-wrapper .skills-cards .skills-card .circle .percent{
    font-size: 25px;
}

.skills-wrapper .skills-cards .skills-card .name{
    font-size: 15px;
    font-weight: 300;
}

/* PORTFOLIO */
.portfolio-wrapper .portfolio-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.portfolio-wrapper .portfolio-grid .portfolio-card{
    position: relative;
    padding: 15px;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
}

.portfolio-wrapper .portfolio-grid .portfolio-card .view-site{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: var(--primary-color);
    opacity: 0;
    cursor: pointer;
    transition: all .6s ease;
}

.portfolio-wrapper .portfolio-grid .portfolio-card:hover .view-site{
    opacity: 1;
}

.portfolio-wrapper .portfolio-grid .portfolio-card img{
    display: block;
    width: 100%;
    border-radius: 20px;
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 25px;
    opacity: 0;
    transition: all .3s ease;
}

.portfolio-wrapper .portfolio-grid .portfolio-card:hover .project-infos{
    padding: 25px;
    opacity: 1;
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos .info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--dark-color);
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos .info .left{
    max-width: 85%;
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos .info .project-name{
    font-size: 17px;
    font-weight: 500;
    color: var(--light-color);
    white-space: nowrap;                  
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos .info .project-categories{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--dark-color);
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos .info .project-categories p{
    padding: 2px 10px;
    background-color: var(--primary-color);
    margin-right: 10px;
    border-radius: 5px;
}

.portfolio-wrapper .portfolio-grid .portfolio-card .project-infos .info svg{
    font-size: 18px;
    color: var(--primary-color);
}

.portfolio-wrapper .portfolio-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.portfolio-wrapper .portfolio-footer .total{
    font-size: 15px;
    font-weight: 400;
    color: var(--light-color);
}

.portfolio-wrapper .portfolio-footer .total span{
    color: var(--primary-color);
}

.portfolio-wrapper .portfolio-footer .portfolio-button{
    padding: 13px 45px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    color: var(--light-color);
    background-color: transparent;
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease;
}

.portfolio-wrapper .portfolio-footer .portfolio-button:hover{
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 var(--primary-color);
    opacity: 1;
}

/* CONTACT */
.contact-wrapper .contact-email{
    font-size: 20px;
    color: var(--light-color);
    margin-bottom: 40px;
}

.contact-wrapper .success-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 60px;
    border: 1px solid var(--gray-color);
    border-radius: 30px;
    background-color: var(--dark-color);
    text-align: center;
    z-index: 2;
}

.contact-wrapper .success-modal .success-icon{
    font-size: 80px;
    color: var(--primary-color);
    line-height: 0;
    margin-bottom: 20px;
}

.contact-wrapper .success-modal .success-message{
    font-size: 20px;
    font-weight: 600;
    color: var(--light-color);
    margin-bottom: 40px;
}

.contact-wrapper .success-modal .success-btn{
    padding: 10px 25px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    color: var(--light-color);
    background-color: var(--dark-color);
    cursor: pointer;
    transition: all .3s ease;
}

.contact-wrapper .success-modal .success-btn:hover{
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 var(--primary-color);
    opacity: 1;
}

.contact-wrapper form .input-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.contact-wrapper form .input-box{
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.contact-wrapper form .input-box input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--gray-color);
    font-size: 15px;
    font-weight: 400;
    color: var(--light-color);
    background-color: transparent;
    outline: none;
}

.contact-wrapper form .input-box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 15px;
    color: var(--gray-color);
    transition: all .5s ease;
}

.contact-wrapper form .input-box input:valid ~ span,
.contact-wrapper form .input-box input:focus ~ span{
    font-size: 13px;
    font-weight: 400;
    color: var(--light-color);
    transform: translate(0, -15px);
    padding: 0 10px;
    background-color: transparent;
}

.contact-wrapper form .input-box .message{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--gray-color);
    font-size: 15px;
    font-weight: 400;
    color: var(--light-color);
    background-color: transparent;
    outline: none;
    resize: none;
}

.contact-wrapper form .input-box textarea:valid ~ span,
.contact-wrapper form .input-box textarea:focus ~ span{
    font-size: 13px;
    font-weight: 400;
    color: var(--light-color);
    transform: translate(0, -15px);
    padding: 0 10px;
    background-color: transparent;
}

.contact-wrapper form .btn{
    padding: 13px 45px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    color: var(--light-color);
    background-color: transparent;
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease;
}

.contact-wrapper form .btn:hover{
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 var(--primary-color);
    opacity: 1;
}

/* FOOTER */
.footer{
    max-width: 1600px;
    padding: 40px;
    margin: auto;
}

.footer .footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-wrapper .footer-icons svg{
    font-size: 20px;
    color: var(--gray-color);
    margin-right: 20px;
    transition: all .3s ease;
}

.footer .footer-wrapper .footer-icons svg:hover{
    color: var(--primary-color);
}

.footer .footer-wrapper .footer-copy{
    font-size: 15px;
    font-weight: 400;
    color: var(--light-color);
}

.footer .footer-wrapper .footer-copy span{
    color: var(--primary-color);
}

.footer .footer-wrapper .footer-dev{
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
    z-index: -1;
}

.footer .footer-wrapper .footer-dev span{
    color: var(--primary-color);
    opacity: .5;
    cursor: pointer;
}

.footer .footer-wrapper .footer-dev span:hover{
    opacity: 1;
}

/* PAGE PORTFOLIO */
.tabs-wrapper{
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 40px;
    background-color: var(--darkest-color);
    z-index: 3;
    overflow-y: auto;
}

.tabs-wrapper .tabs-menu{
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}

.tabs-wrapper .tabs-menu .tab{
    position: relative;
    font-size: 16px;
    padding: 10px 25px;
    border: 1px solid var(--gray-color);
    border-radius: 50px;
    color: var(--light-color);
    opacity: .5;
    cursor: pointer;
    margin-bottom: 40px;
}

.tabs-wrapper .tabs-menu .tab.active{
    border: 1px solid var(--primary-color);
    opacity: 1;
}

.tabs-wrapper .tabs-menu .tab span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
    padding: 2px;
    border-radius: 50%;
    font-size: 12px;
    color: var(--dark-color);
    background-color: var(--primary-color);
}

.tabs-wrapper .tab-content{
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.tabs-wrapper .tab-content .portfolio-card{
    position: relative;
    padding: 15px;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
}

.tabs-wrapper .tab-content .portfolio-card .view-site{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: var(--primary-color);
    opacity: 0;
    cursor: pointer;
    transition: all .6s ease;
}

.tabs-wrapper .tab-content .portfolio-card:hover .view-site{
    opacity: 1;
}

.tabs-wrapper .tab-content .portfolio-card img{
    display: block;
    width: 100%;
    border-radius: 20px;
}

.tabs-wrapper .tab-content .portfolio-card .project-infos{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 25px;
    opacity: 0;
    transition: all .3s ease;
}

.tabs-wrapper .tab-content .portfolio-card:hover .project-infos{
    padding: 25px;
    opacity: 1;
}

.tabs-wrapper .tab-content .portfolio-card .project-infos .info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--dark-color);
}

.tabs-wrapper .tab-content .portfolio-card .project-infos .info .left{
    max-width: 85%;
}

.tabs-wrapper .tab-content .portfolio-card .project-infos .info .project-name{
    font-size: 17px;
    font-weight: 500;
    color: var(--light-color);
    white-space: nowrap;                  
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.tabs-wrapper .tab-content .portfolio-card .project-infos .info .project-categories{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--dark-color);
}

.tabs-wrapper .tab-content .portfolio-card .project-infos .info .project-categories p{
    padding: 2px 10px;
    background-color: var(--primary-color);
    margin-right: 10px;
    border-radius: 5px;
}

.tabs-wrapper .tab-content .portfolio-card .project-infos .info svg{
    font-size: 18px;
    color: var(--primary-color);
}

.tabs-wrapper .tab-close{
    position: absolute;
    top: 40px;
    right: 40px;
    border: 1px solid var(--gray-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--light-color);
    padding: 10px;
    line-height: 0;
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease;
}

.tabs-wrapper .tab-close:hover{
    color: var(--primary-color);
    opacity: 1;
}

/* RESPONSIVE */
@media(max-width: 1475px){
    .hero-wrapper .big-text p{
        font-size: 5.8vw;
    }
}

@media(max-width: 1225px){
    .left-card{
        display: none;
    }
    .left-card .card{
        border: none;
        padding: 0;
    }
    .left-card .card-copyright{
        display: none;
    }
    .left-card .card .cv-download{
        padding: 13px 45px;
        color: var(--light-color);
    }
    .main-content{
        width: 100%;
        margin-top: 40px;
    }
}

@media(max-width: 1135px){
    .gray-text{
        width: 100%;
    }
}

@media(max-width: 1070px){
    .hero-wrapper .number-counter .number-container .num{
        font-size: 5.8vw;
    }
}

@media(max-width: 1025px){
    .tabs-wrapper .tabs-menu{
        grid-gap: 10px;
    }
    .tabs-wrapper .tab-content{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media(max-width: 990px){
    .menu .columns{
        width: 50%;
    }
    .menu .column-1,
    .menu .column-3{
        display: none;
    }
    .menu .column-2{
        left: 0%;
    }
    .menu .column-4{
        left: 50%;
    }
    .home-container .big-text{
        font-size: 80px;
    }
}

@media(max-width: 940px){
    .skills-wrapper .skills-cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 845px){
    h5{
        font-size: 4vw;
    }
    .services-wrapper .services-cards .card .service-header .service-name,
    .services-wrapper .services-cards .card .service-header .service-icon{
        font-size: 3.4vw;
    }
    .portfolio-wrapper .portfolio-grid{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 680px){
    .layout .main-container{
        display: block;
        padding: 30px;
    }
    .wrapper{
        margin-bottom: 100px;
    }
    .main-content{
        padding: 0;
    }
    h5{
        font-size: 6.4vw;
        margin-bottom: 30px;
    }
    .right-nav{
        margin-right: 0;
    }
    .right-nav .wrapper-menu .menu-circle{
        top: 25px;
        right: 25px;
    }
    .right-nav .float-nav{
        display: flex!important;
        top: unset;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, 0);
        padding: 20px 25px;
        grid-gap: 30px;
        font-size: 20px;
    }
    .hero-wrapper .big-text{
        margin-bottom: 30px;
    }
    .hero-wrapper .big-text p{
        font-size: 8.8vw;
    }
    .hero-wrapper .number-counter .number-container .num{
        font-size: 8.8vw;
    }
    .hero-wrapper .number-counter{
        grid-gap: 50px;
    }
    .services-wrapper .services-cards .card .service-header .service-name,
    .services-wrapper .services-cards .card .service-header .service-icon{
        font-size: 25px;
    }
}

@media(max-width: 625px){
    .tabs-wrapper .tabs-menu{
        grid-gap: 10px;
    }
    .tabs-wrapper .tabs-menu .tab{
        font-size: 2.5vw;
        padding: 6px 20px;
    }
    .tabs-wrapper .tab-content{
        grid-template-columns: 1fr;
    }
    .tabs-wrapper .tab-close{
        top: 20px;
        right: 20px;
        font-size: 2.5vw;
        padding: 5px;
    }
}

@media(max-width: 600px){
    .footer .footer-wrapper{
        flex-direction: column;
        grid-gap: 20px;
    }
}

@media(max-width: 530px){
    .menu .columns{
        width: 100%;
    }
    .menu .column-2{
        left: 0%;
        border-left: none;
    }
    .menu .column-4{
        display: none;
    }
}

@media(max-width: 450px){
    .skills-wrapper .skills-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 435px){
    .portfolio-wrapper .portfolio-footer{
        flex-direction: column-reverse;
        grid-gap: 20px;
    }
}

@media(max-width: 410px){
    .contact-wrapper .contact-email{
        font-size: 16px;
    }
}